@media (min-width: 750px){
#prompt-box {
    width: 180px;
    height: 50px;
    background-color: #222;
    position: fixed;
    top: 50px;
    right: 0px;
    display: none;
}
}

@media (max-width: 750px){
#prompt-box {
     width: 100%;
    height: 50px;
    background-color: #222;
    position: fixed;
    /*margin-left: 50px;*/
    display: none;
}
}

#account span{
    padding: 0;
    margin:0;
}

#prompt-box p{
	padding: 10px 20px;
    background-color: #222;
    font-size: 14px;
    font-family: "Microsoft Yahei",Georgia,Serif;

}

#prompt-box a{
	color: #9d9d9d;
}

#prompt-box a:hover{
	color: white; 
}

@media (min-width: 480px){
    .basicinfo {
        margin-top: 50px;
        border-bottom: 2px solid grey;
    }

    .basicinfo .headmessg{
    float: left;
    margin: 10px;
    }

    .basicinfo h4{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 30px;
        font-family: "Microsoft Yahei",Georgia,Serif;
        font-weight: bold;
    }

    .basicinfo p{
        padding: 5px 10px;
        font-size: 18px;
    }

    .basicinfo .headimage{
        width: 100px;
        height: 100px;
        /*background: url("../images/touxiang.jpg") no-repeat;*/
        background-position: center center;
        background-size: 100%;
        float: left;
        margin: 20px;
    } 
    .headmessg{
        display: block;
        position: relative;
    }
    .star{
        /*border: none;*/
        position: absolute;
        top:16px;
        right: -100px;
       /* left: 200px;*/
        width: 100px;
        margin-left: 6px;
        font-family: "Microsoft Yahei",Georgia,Serif;
        font-size: 14px;
        padding-left: 10px;
    }

}

@media (max-width: 480px){
    .basicinfo {
        margin-top: 50px;
        border-bottom: 2px solid grey;
    }

    .basicinfo .headmessg{
    float: left;
    margin: 6px;
    }

    .basicinfo h4{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 20px;
        font-family: "Microsoft Yahei",Georgia,Serif;
        font-weight: bold;
    }

    .basicinfo p{
        padding: 5px 10px;
        font-size: 12px;
    }

    .basicinfo .headimage{
        width: 50px;
        height: 50px;
        /*background: url("../images/touxiang.jpg") no-repeat;*/
        background-position: center center;
        background-size: 100%;
        border-radius: 50%;
        float: left;
        margin: 20px;

    }
     .star{
        border: none;
        background-color: white;
        font-family: "Microsoft Yahei",Georgia,Serif;
        font-size: 16px;
        padding-left: 10px;
    }
}


/*.basicinfo{
    margin-top: 50px;
    border-bottom: 2px solid grey;
}*/
/*.basicinfo .headmessg{
    float: left;
    margin: 10px;
}

.basicinfo h4{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 30px;
    font-family: "Microsoft Yahei",Georgia,Serif;
}

.basicinfo p{
    padding: 5px 10px;
    font-size: 18px;
}

.basicinfo .headimage{
    width: 100px;
    height: 100px;
    background: url("../images/touxiang.jpg") no-repeat;
    background-position: center center;
    background-size: 100%;
    float: left;
    margin: 20px;

}*/

#navlogo{
    width:70px;
    height: 50px;
    background: url("../images/whiteLogo.png") no-repeat;
    background-position: center center;
    background-size: 100%;
    padding: 0;
}
body{
    min-height: 100%;
}
#maodian{
    /*min-height: 100%;*/
     margin-bottom: 140px;
}
.row{
    min-height: 100%;
}
#articleDiv{
    min-height: 500px;
}
#prompt-box p>a{
    cursor: pointer;
}
