@media (min-width: 750px){
#prompt-box {
    width: 150px;
    height: 50px;
    background-color: #222;
    position: fixed;
    top: 50px;
    right: 0px;
    display: none;
}
}

@media (max-width: 750px){
#prompt-box {
    width: 150px;
    height: 50px;
    background-color: #222;
    position: fixed;
    margin-left: 50px;
    display: none;
}
}


#prompt-box p{
	padding: 10px 20px;
    background-color: #222;
    font-size: 14px;
    font-family: "Microsoft Yahei",Georgia,Serif;

}

#prompt-box a{
	color: #9d9d9d;
}

#prompt-box a:hover{
	color: white; 
}