@import url(http://fonts.googleapis.com/css?family=Lora:400|Raleway:100,200,300,400,500,700,800);
html{
    height: 100%;

}
body {
    width: 100%;
    height: 100%;
    /*padding-top:50px;*/
*//*    color: #797979;
/*	background: #f2f2f2;
*/    font-size:13px;
    position: relative;
   /* overflow: hidden;*/
}
body,div,ul,li,ol,h1,h2,h3,h4,dl,input,form,a,p,textarea{
    margin:0;
    padding: 0;
    font-family:"Microsoft Yahei",Georgia,Serif;
}

ul,li,ol {
    list-style: none;
}

.active{
    background: #26BBD0;
    color: #fff;
}
.normal{
    background: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none; 
    /*display: block;*/
}
::selection {

    background: #68dff0;
    color: #fff;
}
::-moz-selection {
    background: #68dff0;
    color: #fff;
}
img{
    border:none;
    display: block;
    max-width: 96%;
}   


.clearfix{
    zoom:1;
}
.clearfix:after{
    display: table;
    clear: both;
    content: "";
    
}

/*.navbar-inverse .navbar-nav>li>a{
    color: #DEDEDE;
}*/


.becenter{
    margin:0 auto;
}
nav{
    display: block;

}

#navbar{
    margin:0 26px;


}
.navbar{
       margin-bottom: 0px;
}

.navbar-nav li{
    margin:0 12px;

}

.wrap-col{
    
    margin-top: 50px;
    width: 100%;
    height: 160px;
        background-color:#efefef;
    /*background-color: #fff;*/
    padding: 0;
}
#wrap-col{
    margin-top: 30px;
}

.logo{
    /*margin-top: 30px;*/
    padding-top: 22px;
    overflow: hidden;
}

.wrap-col img{
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.tagline{
    max-width: 100%;
    max-height: : 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    /*font-size: 16px;*/
    font-size: 1vw;
    font-family: '隶书';
    letter-spacing: 2px;
}





.container{
    margin-top:20px;
}

.row{
    margin-top: 20px;

}

/*- blog post -*/
.blog-post {
    padding-bottom: 30px;
    margin-bottom: 60px;
    border-bottom: 1px solid #CECECE;
}
.blog-post:last-child {
    border-bottom: none;
}
.blog-post .blog-post-body {
    text-align: center;
    padding: 20px 0;
}
.blog-post .blog-post-body h2 {
    margin: 0;
    padding: 15px 0px 20px;
    font-size: 41px;
    line-height: 49px;
}
.blog-post .blog-post-body p {
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #000;
}
.blog-post .blog-post-body a {
    color: #4A4A4A;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.blog-post .blog-post-body a:hover  {
    color: #dddddd;
}
.blog-post .post-meta {
    margin: 5px 0 20px;
    font-weight: 400;
    font-size: 16px;
    color: #B1B1B1;
    font-family: "Lora";
    font-style: italic;
}
.blog-post .post-meta a {
    color: #B1B1B1;
}
.blog-post .post-meta a:hover {
    color: #fed136;
}
.blog-post .post-meta span {
    padding-left: 15px;
    padding-right: 15px;
}
.blog-post .post-meta span:first-child {
    padding-left: 0;
    padding-right: 15px;
}
.blog-post .post-meta i {
    padding-right: 5px;
    font-size: 12px;
}
.blog-post .read-more a {
    display: inline-block;
    padding: 12px 40px;
    margin: 30px 0 0px;
    border: 1px solid;
    border-radius: 25px;
    border-color: #E6E6E6;
    background-color: #F3F3F3;
    font-family: "Open Sans", Sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.blog-post .read-more a:hover {
    background-color: #fed136;
    border-color: #fed136;
    color: #fff;
}
.blog-post .blog-post-text {
    text-align: left;
}
.blog-post .blog-post-text p {
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    letter-spacing: 0.1px;
    margin-bottom: 30px;
}
#search {
   position: absolute;
   
    top:26px;
    margin-bottom: 20px;

    opacity: 0.9;
}
#search form input[type="text"] {
    height: 32px;
    border:1px solid #E8E4E4;
    background: #efefef
    color:white;
    padding:7px 30px 6px 10px;
    width:222px;
}

#search form input[type="button"] {
    background:url(../images/search_btn.png) no-repeat 0 0;
    border:none;
    cursor:pointer;
    height:13px;
    margin:0;
    padding-left:0;
    padding-right:0;
    position:absolute;
    right:10px;
    top:8px;
    width:13px;
}
input,select,textarea {
    border:1px solid #dbdbdb;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:400;
    outline:none;
    vertical-align:middle;

    border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    -webkit-border-radius:5px;
}


/*- Sidebar -*/
.sidebar-gutter {
    padding: 30px;
}
.sidebar-title {
    background-color: #2B2B2B;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.8px;
    font-size: 18px;
    padding: 15px 0;
    margin: 0 0 25px;
    font-family: "楷体";
    letter-spacing:8px;
}
.sidebar-widget {
    margin-top: 42px;
    margin-bottom: 40px;    
}
.sidebar-widget li {
    font-size: 17px;
    margin-bottom: 10px;
}
.widget-socials {
    text-align: center;
}
.widget-socials a {
    margin: 3px 8px;
    padding: 5px;
    font-size: 17px;
    color: #3C3C3C;
}

.widget-about h4 {
    text-align: center;
    margin: 20px 0 5px;
}
.widget-about .author-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #B5B5B5;
    text-align: center;
}
.widget-about p {
    margin-top: 10px;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}
.widget-post {
    display: table;
    margin: 0 0 20px 0;
    border-bottom: 1px solid;
    border-color: #E4E4E4;
    padding-bottom: 20px;
    width: 100%;
}
/*.widget-post:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin: 0px;
}
*/
get-post .post-body {
    overflow: hidden;
}
.widget-post h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.widget-post h2 a {
    color: #4A4A4A;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.widget-post h2 a:hover {
    color: #969696;
}
.widget-post .post-meta {
    margin-top: 5px;
    font-weight: 400;
    font-size: 11px;
    color: #B1B1B1;
    font-family: "Lora";
    font-style: italic;
}
.widget-post .post-meta span {
    margin-right: 8px;
}
.widget-post .post-meta span a {
    color: #B1B1B1;
}
.section-title {
    margin: 0 0 45px 0;
    border-top: 1px solid #505050;
    font-size: 28px;
    padding-top: 10px;
    font-weight: 300;
    color: #272727;
}
.section-title span {
}
.cate{
    padding-left: 20px;
}
.cate li{
     list-style: disc;
}
.cate li a{
    color: black;
    cursor:pointer;
   
}


.pageDivide{
    width: 100%;
    /*height: 100px;*/
    margin-bottom: 30px;
    
}
#page{
    display: block;
    /*width: 100%;*/
    width: 306px;

}
.pagination li a{
    color:black;
    font-family: "Open Sans", Sans-serif;
    background-color:#F3F3F3;
}

footer {
  
    width: 100%;
    bottom: 0px;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #717171;
    text-align: center;
    border-top: 1px solid #CECECE;
    margin-top: 50px;
}

footer .footer-bottom {
    padding: 10px 0 40px;
}


/*.container2{
    min-height: 1000px;
    border-top: 1px solid black
}*/

.footer2{
    position: absolute;
    bottom: 0;
}

@media (min-width: 750px){
    .back-to-top{
    position: fixed;
    border-radius: 8px;
    bottom: 26px;
    right: 26px;
    border:1px solid #888;
    background: #A5A3A3;
    opacity: 0.36;
    padding: 8px;
    font-size: 14px;
    color: #000;
    width: 54px;
    letter-spacing: 2px;
    display: none;
}
    .backtop{
       /* opacity: 0.36;
*/    }
    .glyphicon-plane{
        display: none;
    }
} 

@media (max-width: 750px){
    
   .back-to-top{
    position: fixed;
    bottom: 20px;
    right: 12px;
    opacity: 0.5;
    font-size: 20px;
    color: #000;
    border: none;
    background: none;
        display: none;

    }
    .backtop{
        display: none;
    }

     .back-to-top:hover{
        opacity: 0.8;
     }
    /*.glyphicon-plane{
    display: none;
}*/

}

.js-load-more{
    padding:0 15px;
    width:90%;
    height:30px;
    background-color:#545454;
    color:#fff;
    line-height:30px;
    text-align:center;
    border-radius:10px;
    margin:20px auto;
    border:0 none;
    font-size:16px;
    display:block;
    cursor: pointer;
}
.js-load-more:hover{
    background-color: #222;
}

.wenzhang ul>li{
    list-style: disc;
}

.wenzhang ol>li{
    list-style: decimal;
}

.contactme{
    margin-top: 60px;
}
#conme{
    margin-bottom:100px;
}
#coninfo{
    line-height: 160%;
    font-size: 22px;
}
#inputemail{
    width: 350px;
    height: 50px;
    font-size: 25px;
    padding: 15px;
}
#inputpass{
    width: 350px;
    height: 50px;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 20px;
}
#confirmpass{
    width: 350px;
    height: 50px;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 20px;
}
#sendemail {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
#resetpass{
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
.forget{
    padding:30px 0px 20px; 
    border-bottom: 1px solid #ddd;
}
