<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.dao.BlogTypeDao">

    <resultMap type="BlogType" id="BlogTypeResult">
        <id property="id" column="id"/>
        <result property="typename" column="typename"/>
        <result property="typecount" column="typecount"/>
    </resultMap>
 	<!-- 插入语句 -->
 	<insert id="addBlogType" parameterType="BlogType">
        insert into t_blogtype
        <!-- 动态sql拼接 prefix前缀 suffix后缀 suffixOverrides除去最后多余的,-->
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typename!=null and typename!=''">
                typename,
            </if>
            <if test="typecount!=null">
                typecount,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="typename!=null and typename!=''">
                #{typename},
            </if>
            <if test="typecount!=null">
                #{typecount},
            </if>
        </trim>
    </insert>
    <!-- 删除语句 -->
    <delete id="deleteBlogType" parameterType="java.lang.Integer">
        DELETE FROM t_blogtype where id=#{id}
    </delete>
    <!-- 查询语句 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="BlogTypeResult" >
        SELECT id,typename,typecount from t_blogtype
            where id = #{id}
    </select>
    <select id="listByPage" resultMap="BlogTypeResult">
    	SELECT id,typename,typecount from t_blogtype limit #{start},#{end}
    </select>
    
    <select id="listBlogType" parameterType="Map" resultMap="BlogTypeResult">
    	SELECT id,typename,typecount from t_blogtype
    	<where>
            <if test="typename!=null and typename!=''">
                and typename like "%"#{typename}"%"
            </if>
    	</where>
    </select>
    
    <!-- 更新语句 -->
    <update id="updateBlogType" parameterType="BlogType">
        update t_blogtype
        <set>
            <if test="typename!=null and typename!=''">
                typename = #{typename},
            </if>
            <if test="typecount!=null">
                typecount = #{typecount},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <!-- 查询总数 -->
    <select id="getTotal" resultType="java.lang.Long">
    	SELECT COUNT(id) from t_blogtype
    </select>
</mapper> 