<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.dao.StarDao">

    <resultMap type="Star" id="StarResult">
        <id property="subscriber" column="subscriber"/>
        <id property="subscribee" column="subscribee"/>
    </resultMap>
    
    <insert id="addStar" parameterType="Star">
        insert into t_star (subscriber,subscribee) VALUES (#{subscriber},#{subscribee})
    </insert>
    
    <delete id="deleteStar">
        DELETE FROM t_star where subscriber=#{subscriber} and subscribee=#{subscribee}
    </delete>
    
    <select id="findBySubscriber" resultMap="StarResult">
    	select * from t_star where subscriber=#{subscriber}
    </select>
    
    <select id="findBySubscribee" resultMap="StarResult">
    	select * from t_star where subscribee=#{subscribee}
    </select>
    
    <select id="getTotalSubscriber" resultType="java.lang.Long">
    	select count(*) from t_star where subscriber=#{subscriber}
    </select>
    
    <select id="getTotalSubscribee" resultType="java.lang.Long">
    	select count(*) from t_star where subscribee=#{subscribee}
    </select>
</mapper> 