<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.dao.BlackListDao">

    <resultMap type="BlackList" id="BlackListResult">
        <id property="id" column="id"/>
        <result property="username" column="username" />
        <result property="userid" column="userid" />
        <result property="msg" column="msg" />
        <result property="msgstatus" column="msgstatus" />
        <result property="blockDate" column="blockDate" />
        <result property="deblockDate" column="deblockDate" />
    </resultMap>
    
 	<!-- 插入语句 -->
 	<insert id="addBlackList" parameterType="BlackList">
        insert into t_blacklist 
         (username,userid,msg,msgstatus,blockDate,deblockDate)
         VALUES (#{username},#{userid},#{msg},#{msgstatus},#{blockDate},#{deblockDate})
    </insert>
    
    <!-- 查询语句 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="BlackListResult" >
        SELECT * from t_blacklist where id = #{id}
    </select>
    
    <select id="listBlackList" parameterType="Map" resultMap="BlackListResult">
    	SELECT * from t_blacklist
    	<where>
            <if test="username!=null and username!=''">
                and username=#{username}
            </if>
            <if test="userid!=null">
            	and userid=#{userid}
            </if>
            <if test="msgstatus!=null">
            	and msgstatus=#{msgstatus}
            </if>
    	</where>
    </select>
    
    <!-- 更新语句 -->
    <update id="updateBlackList" parameterType="BlackList">
        update t_blacklist
        <set>
            <if test="msgstatus!=null">
                msgstatus = #{msgstatus},
            </if>
            <if test="deblockDate!=null and deblockDate!=''">
                deblockDate = #{deblockDate},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    
</mapper> 